/*********** BASIC ***********/

body{
  background-color:#3F51B5;

}

/*********** HEADER ***********/
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(http://fonts.gstatic.com/s/orbitron/v6/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/orbitron/v6/94ug0rEgQO_WuI_xKJMFc3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}


header{
  text-align:center;
  padding-top:1em;
  padding-bottom:2em;

}
h1{
  font-family: 'Orbitron';
  font-size:100px;
  color:pink;
}
.heart{
  font-family: untitled-font-1;
  color:pink;
  margin-left:4.5em;
}

li{
  display:inline-block;
  float:left;
  padding-left:0.3em;

}

.timer{
  float:right;
  color:fuchsia;
  margin-right:7em;
  color:pink;

}
/*********** FORM ***********/
.game-board{
  display:block;
  margin:0 auto;
  width:90%;
}
.game-tile{
  box-sizing:border-box;
  position:relative;
  display:inline-block;
  width:16%;
  padding-bottom:16%;

}
.game-card{
  background-color:#7986CB;
  display:block;
  top:1px;
  right:1px;
  left:1px;
  bottom:1px;
  border-radius:5%;
  position:absolute;
  border:1px solid pink;
}
input[ type= checkbox]{
  position:relative;
  z-index:-1;



}

.icon{
  font-family: untitled-font-1;
  font-size:80px;
  margin:0.5em;

}


.game-tile input:not(checked) + .game-card .icon{
  opacity:0;
}

.game-tile input:checked + .game-card .icon{
  opacity:1;
}



/*********** RESPONSIVE ***********/

@media  screen and (max-width: 600px){
  .game-tile{
        width:30.3%;
        padding-bottom:30.3%;
      }
}
